body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.help {
            einu-col {
              einu-block.section {
                &.rank {
                  einu-block.background {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    img.badge {
                      width: 100%;
                      max-width: 280px;
                      display: block;
                      margin: 0 auto;
                    }
                  }

                  einu-table {
                    margin-top: 30px;

                    einu-table-row {
                      &:nth-of-type(odd) {
                        background-color: transparent;
                      }

                      &:nth-of-type(even) {
                        background-color: transparent;
                      }

                      einu-table-cell {
                        color: $fore-color_idle;

                        &:first-of-type {
                          text-align: right;
                          width: 50%;
                        }

                        &:last-of-type {
                          text-align: left;
                          width: 50%;
                        }
                      }
                    }
                  }
                }
              }

              &#sentinel {
                einu-block.section {
                  einu-block.background {
                    padding-top: 30px;
                    padding-bottom: 30px;

                    einu-table {
                      max-width: 280px;
                      margin: 0 auto;
                      margin-top: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}