body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      background-color: $dark;
      width: 100%;
      height: $workspace_height;
      left: 0;
      top: $topbar_height;
      position: fixed;
      padding: 0;

      einu-block.workspace {
        background-color: $dark;
        width: 100%;
        float: left;
        display: inline-block;
        padding: 0;
        position: relative;
        height: 100%;
        overflow: hidden;

        einu-grid {
          padding: 10px;
        }
      }

      &[sidebar="true"] {
        einu-block.workspace {
          width: calc(100% - #{$sidebar_width});
        }
      }
    }

    &[sidebar-left="true"] {
      einu-block.workspace-container {
        width: $workspace_container_width;
        left: calc(#{$sidebar_min_width} + #{$sidebar_width});

        einu-block.workspace {
          width: $workspace_width;
        }
      }
    }
  }
}

@import "sidebar";