body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.sidebar {
        padding: 0;
      }

      &[sidebar="true"] {
        einu-block.sidebar {
          background-color: $darker;
          width: $sidebar_width;
          height: 100%;
          float: right;
          display: inline-block;
          overflow: hidden;
        }
      }
    }
  }
}