body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.news {
            einu-article {
              display: block;
              width: 100%;
              border-radius: 4px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 200px;
              position: relative;
              cursor: pointer;
              -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

              &.small {

              }

              &.large {
                einu-textblock {
                  display: block;
                  padding: 10px;
                  color: $fore_color;
                  font-size: 11px;
                  -webkit-transition: all 0.3s ease-in-out;
                  opacity: 0;
                  width: 100%;
                  height: calc(100% - 70px);
                  font-family: "Roboto";
                  line-height: 20px;
                }

                einu-heading {
                  width: 100%;
                  display: block;
                  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
                  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
                  -webkit-transition: all 0.3s ease-in-out;
                  padding: 10px;
                  font-size: 16px;
                  color: $fore_color;
                  border-radius: 3px;
                  font-family: "Roboto Condensed";
                  font-weight: 700;
                }

                einu-block.info {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  display: block;
                  padding: 10px;
                  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(transparent));
                  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
                  -webkit-transition: all 0.3s ease-in-out;
                  border-radius: 3px;
                  font-family: "Roboto Condensed";

                  span {
                    margin-left: 15px;
                    float: right;
                    font-size: 11px;
                    color: $fore_color;

                    einu-icon {
                      margin-right: 3px;
                    }
                  }
                }

                &:before {
                  -webkit-transition: all 0.3s ease-in-out;
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  display: block;
                  content: " ";
                  border-radius: 4px;
                }

                &:hover {
                  &:before {
                    background-color: rgba(0, 0, 0, 0.75);
                  }

                  einu-heading {
                    background-color: transparent;
                  }

                  einu-textblock {
                    opacity: 1;
                  }

                  einu-block.info {
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}