body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.news {

          }
        }
      }
    }
  }
}

@import "article";
@import "categories";