body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.news {
            einu-grid.categories {
              padding: 20px;

              einu-col {
                padding: 5px;

                a.button {
                  padding: 10px;
                  border-radius: 4px;
                  text-transform: uppercase;
                  color: $fore_color;
                  font-family: "Roboto Condensed";
                  display: block;
                  width: 100%;
                  text-align: center;
                  text-decoration: none;
                  position: relative;
                  font-size: 14px;

                  &:before {
                    -webkit-transition: all 0.2s ease-in-out;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0; left: 0; right: 0; bottom: 0;
                    display: block;
                    content: " ";
                    border-radius: 4px;
                  }

                  &:hover {
                    &:before {
                      background-color: rgba(0, 0, 0, 0.1);
                    }
                  }

                  &:active {
                    &:before {
                      background-color: rgba(0, 0, 0, 0.2);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}