body[einu-flow="flow-blue"] {
    font-size: 1em;

    einu-blockquote,
    einu-nav-item,
    einu-textblock {
        font-size: 0.75em;
    }

    einu-header {
        background-color: #1d5fc2;

        einu-heading {
            color: white;
            margin: 100px 0;
        }
    }

    einu-nav {
        background-color: #417dd7;
        color: white;

        einu-nav-item {
            @include transition(all, 0.3s, ease-in-out);
            &:hover {
                background-color: #528feb;
                color: white;
            }
        }
    }

    einu-footer {
        background-color: #1d5fc2;
        color: white;
        text-align: center;
        padding: 0;

        einu-textblock {
            margin: 15px 0;
        }
    }

    einu-content {
        padding: 50px 0;
        background-color: white;

    }

    einu-blockquote {
        background-color: #d5e3f6;
        border-radius: 10px;
    }

    &[container] {
        einu-nav {
            einu-container {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        einu-header {
            einu-container {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        einu-footer {
            einu-container {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        einu-content {
            padding: 0;
            background-color: #5c96ec;

            einu-container {
                padding: 50px;
                background-color: white;
            }
        }
    }
}
