$fontRegular: "einuFont Regular", sans-serif;
$fontMedium:  "einuFont Medium", sans-serif;
$fontMono:    "einuFont Mono", sans-serif;

$colorHighlight: #2d898c;
$colorInfo:      #2488f3;
$colorSuccess:   #3c763d;
$colorWarning:   #ffb71b;
$colorError:     #f44336;
