body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.topbar {
      background-color: $darkest;
      width: 100%;
      height: $topbar_height;
      position: fixed;
      top: 0;
      padding: 0;
      padding-right: 100px;

      einu-block.search {
        height: $topbar_height;
        width: $sidebar_width;
        display: inline-block;
        float: left;
        padding: 10px 5px;

        form {
          width: 100%;
          height: 100%;

          input[type="text"] {
            background-color: $dark;
            border: 0;
            outline: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            padding: 0 10px;
          }
        }
      }

      einu-block.navigation {
        display: inline-block;
        padding: 0;
        float: left;
        width: auto;
      }

      einu-block.wallet {
        display: inline-block;
        padding: 0 20px;
        float: right;
        width: auto;
        line-height: $topbar_height;
        font-size: 12px;

        span {
          background-color: $dark;
          border-radius: 4px;
          padding: 2px 4px;
          color: $accent_color;
          margin-right: 5px;

          &:last-of-type {
            margin-right: 0;
          }

          span.currency {
            color: $fore_color_idle_alt;
            font-family: "Roboto Condensed";
            padding: 0;
          }
        }
      }

      a.button,
      button,
      einu-button {
        height: $topbar_height;
        line-height: calc(#{$topbar_height} - 10px);
        display: inline-block;
        float: left;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 20px;
        color: $fore_color;
        font-family: "Roboto Condensed";
        font-weight: 700;
        font-size: 16px;

        &.squared {
          width: $topbar_height;
        }

        &.logo {
          background: url('../img/logo-small-sprite.png') no-repeat;
          background-position: -0px -0px;

          &:hover, &:active {
            background: url('../img/logo-small-sprite.png') no-repeat;
            background-position: -0px -50px;
          }
        }

        &.active,
        &:hover {
          color: $accent_color;
        }
      }
    }
  }
}

@import 'donate';