body[einu-flow="battleroyale.co"] {
  einu-app {
    a.button.donate {
      height: $topbar_height;
      width: 100px;
      line-height: $topbar_height;
      display: inline-block;
      float: left;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: $fore_color;
      font-family: "Roboto Condensed";
      font-weight: 700;
      font-size: 16px;
      color: $fore_color;
      position: relative;
      background-color: $accent_color;
      box-shadow: 0 0 5px $accent_color;
      z-index: 99;
      position: fixed;
      top: 0;
      right: 0;

      &:after {
        z-index: 99;
        top: 0; left: 0; right: 0; bottom: 0;
        content: " ";
        position: absolute;
        display: block;
        border: 1px solid $accent_color;
        width: calc((100% + 40px) - 2px);
        height: calc((100% + 40px) - 2px);
        margin-left: -20px;
        margin-top: -20px;
        box-shadow: 0 0 5px $accent_color, inset 0 0 5px $accent_color;
        border-radius: 5px;
        animation-name: pulse;
        animation-duration: 1.25s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
      }
    }
  }
}