body[einu-flow] {
    font-family: $fontRegular;
    margin: 0;
    padding: 0;
    font-size: 1em;

    * {
        box-sizing: border-box;

        &[state~="block-highlight"] {
            background-color: $colorHighlight;
            color: #1c1c1c;
        }
        &[state~="block-info"] {
            background-color: $colorInfo;
            color: #1c1c1c;
        }
        &[state~="block-success"] {
            background-color: $colorSuccess;
            color: #1c1c1c;
        }
        &[state~="block-warning"] {
            background-color: $colorWarning;
            color: #1c1c1c;
        }
        &[state~="block-error"] {
            background-color: $colorError;
            color: #1c1c1c;
        }

        &[state~="text-highlight"] {
            color: $colorHighlight;
        }
        &[state~="text-info"] {
            color: $colorInfo;
        }
        &[state~="text-success"] {
            color: $colorSuccess;
        }
        &[state~="text-warning"] {
            color: $colorWarning;
        }
        &[state~="text-error"] {
            color: $colorError;
        }
    }

    einu-app,
    einu-control-group,
    einu-flex-container,
    einu-block,
    einu-blockquote,
    einu-breadcrumb,
    einu-button,
    einu-container,
    einu-content,
    einu-footer,
    einu-grid,
    einu-row,
    einu-header,
    einu-heading,
    einu-label,
    einu-link,
    einu-nav,
    einu-separator,
    einu-section,
    einu-slideshow,
    einu-textblock,
    einu-list,
    einu-list-item,
    einu-pagination,
    einu-pagination-item,
    einu-card,
    einu-table,
    einu-table-row,
    einu-table-header,
    einu-table-footer,
    einu-table-cell,
    einu-modal-box,
    einu-modal-content,
    einu-modal-header {
        position: relative
    }

    einu-app,
    einu-control-group,
    einu-flex-container,
    einu-block,
    einu-breadcrumb,
    einu-container,
    einu-content,
    einu-footer,
    einu-grid,
    einu-row,
    einu-header,
    einu-heading,
    einu-label,
    einu-nav,
    einu-separator,
    einu-card,
    einu-section,
    einu-slideshow,
    einu-list,
    einu-modal-box,
    einu-modal-content,
    einu-modal-header {
        display: block
    }

    einu-blockquote,
    einu-button,
    einu-col,
    einu-link,
    einu-textblock,
    einu-time,
    einu-pagination,
    einu-pagination-item  {
        display: inline-block
    }

    einu-table { display: table; }
    einu-table-row, einu-table-header, einu-table-footer { display: table-row; }
    einu-table-cell { display: table-cell; }

    einu-header,
    einu-content,
    einu-footer,
    einu-nav,
    einu-grid {
        margin: 0;
        padding: 0;
    }
}
