body[einu-flow] {
    einu-grid {
        width: 100%;
        overflow: hidden;

        einu-row {
            width: 100%;
            overflow: hidden;
        }

        &[no-padding] {
            einu-col {
                padding: 0;
            }
        }
    }
}
