body[einu-flow] {
  einu-list {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;

    &[type="ordered"] {
      &[way="armenian"] { einu-list-item { list-style-type: armenian; }}
      &[way="cjk-ideographic"] { einu-list-item { list-style-type: cjk-ideographic; }}
      &[way="georgian"] { einu-list-item { list-style-type: georgian; }}
      &[way="hebrew"] { einu-list-item { list-style-type: hebrew; }}
      &[way="hiragana"] { einu-list-item { list-style-type: hiragana; }}
      &[way="hiragana-iroha"] { einu-list-item { list-style-type: hiragana-iroha; }}
      &[way="katakana"] { einu-list-item { list-style-type: katakana; }}
      &[way="katakana-iroha"] { einu-list-item { list-style-type: katakana-iroha; }}
      &[way="hiragana"] { einu-list-item { list-style-type: hiragana; }}
      &[way="hiragana-iroha"] { einu-list-item { list-style-type: hiragana-iroha; }}
      &[way="lower-greek"] { einu-list-item { list-style-type: lower-greek; }}
      &[way="upper-greek"] { einu-list-item { list-style-type: upper-greek; }}

      &[way="decimal"] { einu-list-item { list-style-type: decimal; }}
      &[way="decimal-leading-zero"] { einu-list-item { list-style-type: decimal-leading-zero; }}

      &[way="lower-alpha"] { einu-list-item { list-style-type: lower-alpha; }}
      &[way="upper-alpha"] { einu-list-item { list-style-type: upper-alpha; }}
      &[way="lower-latin"] { einu-list-item { list-style-type: lower-latin; }}
      &[way="upper-latin"] { einu-list-item { list-style-type: upper-latin; }}
      &[way="lower-roman"] { einu-list-item { list-style-type: lower-roman; }}
      &[way="upper-roman"] { einu-list-item { list-style-type: upper-roman; }}

      &[way="initial"] { einu-list-item { list-style-type: initial; }}
      &[way="none"] { einu-list-item { list-style-type: none; }}
    }

    &[type="unordered"] {
      &[way="disc"] { einu-list-item { list-style-type: disc; }}
      &[way="circle"] { einu-list-item { list-style-type: circle; }}
      &[way="square"] { einu-list-item { list-style-type: square; }}

      &[way="none"] { einu-list-item { list-style-type: none; }}
    }

    einu-list-item {
      display: list-item;
      list-style-position: inside;
      padding-left: 15px;
    }
  }
}
