body[einu-flow] {
    einu-container {
        padding: 0 15px;
        margin: 0 auto;
        overflow: hidden;
        width: 100%;

        @media (min-width: 768px) { width: 750px; }
        @media (min-width: 992px) { width: 970px; }
        @media (min-width: 1200px) { width: 1170px; }
    }
}
