body[einu-flow] {
    einu-heading {
        font-family: $fontMedium;
        word-wrap: break-word;
        font-size: 1.375em;
        line-height: 1.13636364;

        @media (min-width: 43.75em) {
            font-size: 1.500em;
            line-height: 1.25;
        }

        @media (min-width: 56.25em) {
            font-size: 1.750em;
            line-height: 1.25;
        }

        &[size="1"] {
            font-size: 2.000em;
            line-height: 1.25;

            @media (min-width: 43.75em) {
                font-size: 2.500em;
                line-height: 1.125;
            }

            @media (min-width: 56.25em) {
                font-size: 3.000em;
                line-height: 1.05;
            }
        }
        &[size="2"] {
            font-size: 1.625em;
            line-height: 1.15384615;

            @media (min-width: 43.75em) {
                font-size: 2.000em;
                line-height: 1.25;
            }

            @media (min-width: 56.25em) {
                font-size: 2.250em;
                line-height: 1.25;
            }
        }
        &[size="3"] {
            font-size: 1.375em;
            line-height: 1.13636364;

            @media (min-width: 43.75em) {
                font-size: 1.500em;
                line-height: 1.25;
            }

            @media (min-width: 56.25em) {
                font-size: 1.750em;
                line-height: 1.25;
            }
        }
        &[size="4"] {
            font-size: 1.125em;
            line-height: 1.11111111;

            @media (min-width: 43.75em) {
                font-size: 1.125em;
                line-height: 1.22222222;
            }

            @media (min-width: 56.25em) {
                font-size: 1.125em;
                line-height: 1.11111111;
            }
        }
        &[uppercase] {
            text-transform: uppercase;
        }
    }
}
