body[einu-flow] {
  einu-modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 99999;

    einu-modal-box {
      align-self: flex-start;
      margin: auto;
      width: 100%;

      @media (min-width: 768px) {
        width: 768px;
      }

      einu-modal-header {
        width: 100%;
        height: 45px;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        einu-heading[size="3"] {
          float: left;
          width: calc(100% - 45px);
          display: inline-block;
          line-height: 45px;
          padding: 0 15px;
        }

        button.modal-close {
          float:left;
          width: 45px;
          height: 45px;
          display: inline-block;
        }
      }

      einu-modal-content {
        padding: 15px;
        width: 100%;
      }
    }
  }
}