body[einu-flow] {
    einu-block {
        width: 100%;
        overflow: hidden;
        padding: 15px;

        &[inline] {
            display: inline-block;
        }

        &[no-padding] {
            padding: 0;
        }
    }
}
