body[einu-flow] {
    einu-nav {
        &[rotation="horizontal"] {
            width: auto;
            display: inline-block;

            einu-nav-item {
                display: inline-block;
            }
        }
        &[rotation="vertical"] {
            width: auto;
            display: inline-block;

            einu-nav-item {
                display: block;
            }
        }
        &[full-width] {
            width: 100%;
            display: block;
        }
        &[align="left"] {
            text-align: left;
        }
        &[align="center"] {
            text-align: center;
        }
        &[align="right"] {
            text-align: right;
        }

        einu-nav-item {
            cursor: default;
            padding: 15px;
            font-family: $fontMedium;

            &:hover {
                cursor: pointer;
                color: #168199;
            }

            &[float-left] {
                float: left;
            }

            &[float-right] {
                float: right;
            }
        }

        einu-button {
            margin: 5px;
        }
    }
}
