body[einu-flow] {
    einu-icon {
        display: inline-block;
        font: normal normal normal 14px/1 "einuFont Glyphs";
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &[size="lg"] {
          font-size: 1.33333333em;
          line-height: 0.75em;
          vertical-align: -15%;
        }
        &[size="2x"] {
          font-size: 2em;
        }
        &[size="3x"] {
          font-size: 3em;
        }
        &[size="4x"] {
          font-size: 4em;
        }
        &[size="5x"] {
          font-size: 5em;
        }
        &[fixed-width] {
          width: 1.28571429em;
          text-align: center;
        }
        &[border] {
          padding: .2em .25em .15em;
          border: solid 0.08em #eeeeee;
          border-radius: .1em;
        }
        &[pull="left"] {
          margin-right: .3em;
          float: left;
        }
        &[pull="right"] {
          margin-left: .3em;
          float: right;
        }
        &[animation="spin"] {
          -webkit-animation: einu-spin 2s infinite linear;
          animation: einu-spin 2s infinite linear;
        }
        &[animation="pulse"] {
          -webkit-animation: einu-spin 1s infinite steps(8);
          animation: einu-spin 1s infinite steps(8);
        }
        @-webkit-keyframes einu-spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
        }
        @keyframes einu-spin {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
          }
        }
        &[rotate="90"] {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        &[rotate="180"] {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        &[rotate="270"] {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg);
        }
        &[flip="horizontal"] {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
          -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
        }
        &[flip="vertical"] {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
          -webkit-transform: scale(1, -1);
          -ms-transform: scale(1, -1);
          transform: scale(1, -1);
        }
        :root &[rotate="90"],
        :root &[rotate="180"],
        :root &[rotate="270"],
        :root &[flip="horizontal"],
        :root &[flip="vertical"] {
          filter: none;
        }

        &[code="glass"]:before {
          content: "\f000";
        }
        &[code="music"]:before {
          content: "\f001";
        }
        &[code="search"]:before {
          content: "\f002";
        }
        &[code="envelope-o"]:before {
          content: "\f003";
        }
        &[code="heart"]:before {
          content: "\f004";
        }
        &[code="star"]:before {
          content: "\f005";
        }
        &[code="star-o"]:before {
          content: "\f006";
        }
        &[code="user"]:before {
          content: "\f007";
        }
        &[code="film"]:before {
          content: "\f008";
        }
        &[code="th-large"]:before {
          content: "\f009";
        }
        &[code="th"]:before {
          content: "\f00a";
        }
        &[code="th-list"]:before {
          content: "\f00b";
        }
        &[code="check"]:before {
          content: "\f00c";
        }
        &[code="remove"]:before,
        &[code="close"]:before,
        &[code="times"]:before {
          content: "\f00d";
        }
        &[code="search-plus"]:before {
          content: "\f00e";
        }
        &[code="search-minus"]:before {
          content: "\f010";
        }
        &[code="power-off"]:before {
          content: "\f011";
        }
        &[code="signal"]:before {
          content: "\f012";
        }
        &[code="gear"]:before,
        &[code="cog"]:before {
          content: "\f013";
        }
        &[code="trash-o"]:before {
          content: "\f014";
        }
        &[code="home"]:before {
          content: "\f015";
        }
        &[code="file-o"]:before {
          content: "\f016";
        }
        &[code="clock-o"]:before {
          content: "\f017";
        }
        &[code="road"]:before {
          content: "\f018";
        }
        &[code="download"]:before {
          content: "\f019";
        }
        &[code="arrow-circle-o-down"]:before {
          content: "\f01a";
        }
        &[code="arrow-circle-o-up"]:before {
          content: "\f01b";
        }
        &[code="inbox"]:before {
          content: "\f01c";
        }
        &[code="play-circle-o"]:before {
          content: "\f01d";
        }
        &[code="rotate-right"]:before,
        &[code="repeat"]:before {
          content: "\f01e";
        }
        &[code="refresh"]:before {
          content: "\f021";
        }
        &[code="list-alt"]:before {
          content: "\f022";
        }
        &[code="lock"]:before {
          content: "\f023";
        }
        &[code="flag"]:before {
          content: "\f024";
        }
        &[code="headphones"]:before {
          content: "\f025";
        }
        &[code="volume-off"]:before {
          content: "\f026";
        }
        &[code="volume-down"]:before {
          content: "\f027";
        }
        &[code="volume-up"]:before {
          content: "\f028";
        }
        &[code="qrcode"]:before {
          content: "\f029";
        }
        &[code="barcode"]:before {
          content: "\f02a";
        }
        &[code="tag"]:before {
          content: "\f02b";
        }
        &[code="tags"]:before {
          content: "\f02c";
        }
        &[code="book"]:before {
          content: "\f02d";
        }
        &[code="bookmark"]:before {
          content: "\f02e";
        }
        &[code="print"]:before {
          content: "\f02f";
        }
        &[code="camera"]:before {
          content: "\f030";
        }
        &[code="font"]:before {
          content: "\f031";
        }
        &[code="bold"]:before {
          content: "\f032";
        }
        &[code="italic"]:before {
          content: "\f033";
        }
        &[code="text-height"]:before {
          content: "\f034";
        }
        &[code="text-width"]:before {
          content: "\f035";
        }
        &[code="align-left"]:before {
          content: "\f036";
        }
        &[code="align-center"]:before {
          content: "\f037";
        }
        &[code="align-right"]:before {
          content: "\f038";
        }
        &[code="align-justify"]:before {
          content: "\f039";
        }
        &[code="list"]:before {
          content: "\f03a";
        }
        &[code="dedent"]:before,
        &[code="outdent"]:before {
          content: "\f03b";
        }
        &[code="indent"]:before {
          content: "\f03c";
        }
        &[code="video-camera"]:before {
          content: "\f03d";
        }
        &[code="photo"]:before,
        &[code="image"]:before,
        &[code="picture-o"]:before {
          content: "\f03e";
        }
        &[code="pencil"]:before {
          content: "\f040";
        }
        &[code="map-marker"]:before {
          content: "\f041";
        }
        &[code="adjust"]:before {
          content: "\f042";
        }
        &[code="tint"]:before {
          content: "\f043";
        }
        &[code="edit"]:before,
        &[code="pencil-square-o"]:before {
          content: "\f044";
        }
        &[code="share-square-o"]:before {
          content: "\f045";
        }
        &[code="check-square-o"]:before {
          content: "\f046";
        }
        &[code="arrows"]:before {
          content: "\f047";
        }
        &[code="step-backward"]:before {
          content: "\f048";
        }
        &[code="fast-backward"]:before {
          content: "\f049";
        }
        &[code="backward"]:before {
          content: "\f04a";
        }
        &[code="play"]:before {
          content: "\f04b";
        }
        &[code="pause"]:before {
          content: "\f04c";
        }
        &[code="stop"]:before {
          content: "\f04d";
        }
        &[code="forward"]:before {
          content: "\f04e";
        }
        &[code="fast-forward"]:before {
          content: "\f050";
        }
        &[code="step-forward"]:before {
          content: "\f051";
        }
        &[code="eject"]:before {
          content: "\f052";
        }
        &[code="chevron-left"]:before {
          content: "\f053";
        }
        &[code="chevron-right"]:before {
          content: "\f054";
        }
        &[code="plus-circle"]:before {
          content: "\f055";
        }
        &[code="minus-circle"]:before {
          content: "\f056";
        }
        &[code="times-circle"]:before {
          content: "\f057";
        }
        &[code="check-circle"]:before {
          content: "\f058";
        }
        &[code="question-circle"]:before {
          content: "\f059";
        }
        &[code="info-circle"]:before {
          content: "\f05a";
        }
        &[code="crosshairs"]:before {
          content: "\f05b";
        }
        &[code="times-circle-o"]:before {
          content: "\f05c";
        }
        &[code="check-circle-o"]:before {
          content: "\f05d";
        }
        &[code="ban"]:before {
          content: "\f05e";
        }
        &[code="arrow-left"]:before {
          content: "\f060";
        }
        &[code="arrow-right"]:before {
          content: "\f061";
        }
        &[code="arrow-up"]:before {
          content: "\f062";
        }
        &[code="arrow-down"]:before {
          content: "\f063";
        }
        &[code="mail-forward"]:before,
        &[code="share"]:before {
          content: "\f064";
        }
        &[code="expand"]:before {
          content: "\f065";
        }
        &[code="compress"]:before {
          content: "\f066";
        }
        &[code="plus"]:before {
          content: "\f067";
        }
        &[code="minus"]:before {
          content: "\f068";
        }
        &[code="asterisk"]:before {
          content: "\f069";
        }
        &[code="exclamation-circle"]:before {
          content: "\f06a";
        }
        &[code="gift"]:before {
          content: "\f06b";
        }
        &[code="leaf"]:before {
          content: "\f06c";
        }
        &[code="fire"]:before {
          content: "\f06d";
        }
        &[code="eye"]:before {
          content: "\f06e";
        }
        &[code="eye-slash"]:before {
          content: "\f070";
        }
        &[code="warning"]:before,
        &[code="exclamation-triangle"]:before {
          content: "\f071";
        }
        &[code="plane"]:before {
          content: "\f072";
        }
        &[code="calendar"]:before {
          content: "\f073";
        }
        &[code="random"]:before {
          content: "\f074";
        }
        &[code="comment"]:before {
          content: "\f075";
        }
        &[code="magnet"]:before {
          content: "\f076";
        }
        &[code="chevron-up"]:before {
          content: "\f077";
        }
        &[code="chevron-down"]:before {
          content: "\f078";
        }
        &[code="retweet"]:before {
          content: "\f079";
        }
        &[code="shopping-cart"]:before {
          content: "\f07a";
        }
        &[code="folder"]:before {
          content: "\f07b";
        }
        &[code="folder-open"]:before {
          content: "\f07c";
        }
        &[code="arrows-v"]:before {
          content: "\f07d";
        }
        &[code="arrows-h"]:before {
          content: "\f07e";
        }
        &[code="bar-chart-o"]:before,
        &[code="bar-chart"]:before {
          content: "\f080";
        }
        &[code="twitter-square"]:before {
          content: "\f081";
        }
        &[code="facebook-square"]:before {
          content: "\f082";
        }
        &[code="camera-retro"]:before {
          content: "\f083";
        }
        &[code="key"]:before {
          content: "\f084";
        }
        &[code="gears"]:before,
        &[code="cogs"]:before {
          content: "\f085";
        }
        &[code="comments"]:before {
          content: "\f086";
        }
        &[code="thumbs-o-up"]:before {
          content: "\f087";
        }
        &[code="thumbs-o-down"]:before {
          content: "\f088";
        }
        &[code="star-half"]:before {
          content: "\f089";
        }
        &[code="heart-o"]:before {
          content: "\f08a";
        }
        &[code="sign-out"]:before {
          content: "\f08b";
        }
        &[code="linkedin-square"]:before {
          content: "\f08c";
        }
        &[code="thumb-tack"]:before {
          content: "\f08d";
        }
        &[code="external-link"]:before {
          content: "\f08e";
        }
        &[code="sign-in"]:before {
          content: "\f090";
        }
        &[code="trophy"]:before {
          content: "\f091";
        }
        &[code="github-square"]:before {
          content: "\f092";
        }
        &[code="upload"]:before {
          content: "\f093";
        }
        &[code="lemon-o"]:before {
          content: "\f094";
        }
        &[code="phone"]:before {
          content: "\f095";
        }
        &[code="square-o"]:before {
          content: "\f096";
        }
        &[code="bookmark-o"]:before {
          content: "\f097";
        }
        &[code="phone-square"]:before {
          content: "\f098";
        }
        &[code="twitter"]:before {
          content: "\f099";
        }
        &[code="facebook-f"]:before,
        &[code="facebook"]:before {
          content: "\f09a";
        }
        &[code="github"]:before {
          content: "\f09b";
        }
        &[code="unlock"]:before {
          content: "\f09c";
        }
        &[code="credit-card"]:before {
          content: "\f09d";
        }
        &[code="feed"]:before,
        &[code="rss"]:before {
          content: "\f09e";
        }
        &[code="hdd-o"]:before {
          content: "\f0a0";
        }
        &[code="bullhorn"]:before {
          content: "\f0a1";
        }
        &[code="bell"]:before {
          content: "\f0f3";
        }
        &[code="certificate"]:before {
          content: "\f0a3";
        }
        &[code="hand-o-right"]:before {
          content: "\f0a4";
        }
        &[code="hand-o-left"]:before {
          content: "\f0a5";
        }
        &[code="hand-o-up"]:before {
          content: "\f0a6";
        }
        &[code="hand-o-down"]:before {
          content: "\f0a7";
        }
        &[code="arrow-circle-left"]:before {
          content: "\f0a8";
        }
        &[code="arrow-circle-right"]:before {
          content: "\f0a9";
        }
        &[code="arrow-circle-up"]:before {
          content: "\f0aa";
        }
        &[code="arrow-circle-down"]:before {
          content: "\f0ab";
        }
        &[code="globe"]:before {
          content: "\f0ac";
        }
        &[code="wrench"]:before {
          content: "\f0ad";
        }
        &[code="tasks"]:before {
          content: "\f0ae";
        }
        &[code="filter"]:before {
          content: "\f0b0";
        }
        &[code="briefcase"]:before {
          content: "\f0b1";
        }
        &[code="arrows-alt"]:before {
          content: "\f0b2";
        }
        &[code="group"]:before,
        &[code="users"]:before {
          content: "\f0c0";
        }
        &[code="chain"]:before,
        &[code="link"]:before {
          content: "\f0c1";
        }
        &[code="cloud"]:before {
          content: "\f0c2";
        }
        &[code="flask"]:before {
          content: "\f0c3";
        }
        &[code="cut"]:before,
        &[code="scissors"]:before {
          content: "\f0c4";
        }
        &[code="copy"]:before,
        &[code="files-o"]:before {
          content: "\f0c5";
        }
        &[code="paperclip"]:before {
          content: "\f0c6";
        }
        &[code="save"]:before,
        &[code="floppy-o"]:before {
          content: "\f0c7";
        }
        &[code="square"]:before {
          content: "\f0c8";
        }
        &[code="navicon"]:before,
        &[code="reorder"]:before,
        &[code="bars"]:before {
          content: "\f0c9";
        }
        &[code="list-ul"]:before {
          content: "\f0ca";
        }
        &[code="list-ol"]:before {
          content: "\f0cb";
        }
        &[code="strikethrough"]:before {
          content: "\f0cc";
        }
        &[code="underline"]:before {
          content: "\f0cd";
        }
        &[code="table"]:before {
          content: "\f0ce";
        }
        &[code="magic"]:before {
          content: "\f0d0";
        }
        &[code="truck"]:before {
          content: "\f0d1";
        }
        &[code="pinterest"]:before {
          content: "\f0d2";
        }
        &[code="pinterest-square"]:before {
          content: "\f0d3";
        }
        &[code="google-plus-square"]:before {
          content: "\f0d4";
        }
        &[code="google-plus"]:before {
          content: "\f0d5";
        }
        &[code="money"]:before {
          content: "\f0d6";
        }
        &[code="caret-down"]:before {
          content: "\f0d7";
        }
        &[code="caret-up"]:before {
          content: "\f0d8";
        }
        &[code="caret-left"]:before {
          content: "\f0d9";
        }
        &[code="caret-right"]:before {
          content: "\f0da";
        }
        &[code="columns"]:before {
          content: "\f0db";
        }
        &[code="unsorted"]:before,
        &[code="sort"]:before {
          content: "\f0dc";
        }
        &[code="sort-down"]:before,
        &[code="sort-desc"]:before {
          content: "\f0dd";
        }
        &[code="sort-up"]:before,
        &[code="sort-asc"]:before {
          content: "\f0de";
        }
        &[code="envelope"]:before {
          content: "\f0e0";
        }
        &[code="linkedin"]:before {
          content: "\f0e1";
        }
        &[code="rotate-left"]:before,
        &[code="undo"]:before {
          content: "\f0e2";
        }
        &[code="legal"]:before,
        &[code="gavel"]:before {
          content: "\f0e3";
        }
        &[code="dashboard"]:before,
        &[code="tachometer"]:before {
          content: "\f0e4";
        }
        &[code="comment-o"]:before {
          content: "\f0e5";
        }
        &[code="comments-o"]:before {
          content: "\f0e6";
        }
        &[code="flash"]:before,
        &[code="bolt"]:before {
          content: "\f0e7";
        }
        &[code="sitemap"]:before {
          content: "\f0e8";
        }
        &[code="umbrella"]:before {
          content: "\f0e9";
        }
        &[code="paste"]:before,
        &[code="clipboard"]:before {
          content: "\f0ea";
        }
        &[code="lightbulb-o"]:before {
          content: "\f0eb";
        }
        &[code="exchange"]:before {
          content: "\f0ec";
        }
        &[code="cloud-download"]:before {
          content: "\f0ed";
        }
        &[code="cloud-upload"]:before {
          content: "\f0ee";
        }
        &[code="user-md"]:before {
          content: "\f0f0";
        }
        &[code="stethoscope"]:before {
          content: "\f0f1";
        }
        &[code="suitcase"]:before {
          content: "\f0f2";
        }
        &[code="bell-o"]:before {
          content: "\f0a2";
        }
        &[code="coffee"]:before {
          content: "\f0f4";
        }
        &[code="cutlery"]:before {
          content: "\f0f5";
        }
        &[code="file-text-o"]:before {
          content: "\f0f6";
        }
        &[code="building-o"]:before {
          content: "\f0f7";
        }
        &[code="hospital-o"]:before {
          content: "\f0f8";
        }
        &[code="ambulance"]:before {
          content: "\f0f9";
        }
        &[code="medkit"]:before {
          content: "\f0fa";
        }
        &[code="fighter-jet"]:before {
          content: "\f0fb";
        }
        &[code="beer"]:before {
          content: "\f0fc";
        }
        &[code="h-square"]:before {
          content: "\f0fd";
        }
        &[code="plus-square"]:before {
          content: "\f0fe";
        }
        &[code="angle-double-left"]:before {
          content: "\f100";
        }
        &[code="angle-double-right"]:before {
          content: "\f101";
        }
        &[code="angle-double-up"]:before {
          content: "\f102";
        }
        &[code="angle-double-down"]:before {
          content: "\f103";
        }
        &[code="angle-left"]:before {
          content: "\f104";
        }
        &[code="angle-right"]:before {
          content: "\f105";
        }
        &[code="angle-up"]:before {
          content: "\f106";
        }
        &[code="angle-down"]:before {
          content: "\f107";
        }
        &[code="desktop"]:before {
          content: "\f108";
        }
        &[code="laptop"]:before {
          content: "\f109";
        }
        &[code="tablet"]:before {
          content: "\f10a";
        }
        &[code="mobile-phone"]:before,
        &[code="mobile"]:before {
          content: "\f10b";
        }
        &[code="circle-o"]:before {
          content: "\f10c";
        }
        &[code="quote-left"]:before {
          content: "\f10d";
        }
        &[code="quote-right"]:before {
          content: "\f10e";
        }
        &[code="spinner"]:before {
          content: "\f110";
        }
        &[code="circle"]:before {
          content: "\f111";
        }
        &[code="mail-reply"]:before,
        &[code="reply"]:before {
          content: "\f112";
        }
        &[code="github-alt"]:before {
          content: "\f113";
        }
        &[code="folder-o"]:before {
          content: "\f114";
        }
        &[code="folder-open-o"]:before {
          content: "\f115";
        }
        &[code="smile-o"]:before {
          content: "\f118";
        }
        &[code="frown-o"]:before {
          content: "\f119";
        }
        &[code="meh-o"]:before {
          content: "\f11a";
        }
        &[code="gamepad"]:before {
          content: "\f11b";
        }
        &[code="keyboard-o"]:before {
          content: "\f11c";
        }
        &[code="flag-o"]:before {
          content: "\f11d";
        }
        &[code="flag-checkered"]:before {
          content: "\f11e";
        }
        &[code="terminal"]:before {
          content: "\f120";
        }
        &[code="code"]:before {
          content: "\f121";
        }
        &[code="mail-reply-all"]:before,
        &[code="reply-all"]:before {
          content: "\f122";
        }
        &[code="star-half-empty"]:before,
        &[code="star-half-full"]:before,
        &[code="star-half-o"]:before {
          content: "\f123";
        }
        &[code="location-arrow"]:before {
          content: "\f124";
        }
        &[code="crop"]:before {
          content: "\f125";
        }
        &[code="code-fork"]:before {
          content: "\f126";
        }
        &[code="unlink"]:before,
        &[code="chain-broken"]:before {
          content: "\f127";
        }
        &[code="question"]:before {
          content: "\f128";
        }
        &[code="info"]:before {
          content: "\f129";
        }
        &[code="exclamation"]:before {
          content: "\f12a";
        }
        &[code="superscript"]:before {
          content: "\f12b";
        }
        &[code="subscript"]:before {
          content: "\f12c";
        }
        &[code="eraser"]:before {
          content: "\f12d";
        }
        &[code="puzzle-piece"]:before {
          content: "\f12e";
        }
        &[code="microphone"]:before {
          content: "\f130";
        }
        &[code="microphone-slash"]:before {
          content: "\f131";
        }
        &[code="shield"]:before {
          content: "\f132";
        }
        &[code="calendar-o"]:before {
          content: "\f133";
        }
        &[code="fire-extinguisher"]:before {
          content: "\f134";
        }
        &[code="rocket"]:before {
          content: "\f135";
        }
        &[code="maxcdn"]:before {
          content: "\f136";
        }
        &[code="chevron-circle-left"]:before {
          content: "\f137";
        }
        &[code="chevron-circle-right"]:before {
          content: "\f138";
        }
        &[code="chevron-circle-up"]:before {
          content: "\f139";
        }
        &[code="chevron-circle-down"]:before {
          content: "\f13a";
        }
        &[code="html5"]:before {
          content: "\f13b";
        }
        &[code="css3"]:before {
          content: "\f13c";
        }
        &[code="anchor"]:before {
          content: "\f13d";
        }
        &[code="unlock-alt"]:before {
          content: "\f13e";
        }
        &[code="bullseye"]:before {
          content: "\f140";
        }
        &[code="ellipsis-h"]:before {
          content: "\f141";
        }
        &[code="ellipsis-v"]:before {
          content: "\f142";
        }
        &[code="rss-square"]:before {
          content: "\f143";
        }
        &[code="play-circle"]:before {
          content: "\f144";
        }
        &[code="ticket"]:before {
          content: "\f145";
        }
        &[code="minus-square"]:before {
          content: "\f146";
        }
        &[code="minus-square-o"]:before {
          content: "\f147";
        }
        &[code="level-up"]:before {
          content: "\f148";
        }
        &[code="level-down"]:before {
          content: "\f149";
        }
        &[code="check-square"]:before {
          content: "\f14a";
        }
        &[code="pencil-square"]:before {
          content: "\f14b";
        }
        &[code="external-link-square"]:before {
          content: "\f14c";
        }
        &[code="share-square"]:before {
          content: "\f14d";
        }
        &[code="compass"]:before {
          content: "\f14e";
        }
        &[code="toggle-down"]:before,
        &[code="caret-square-o-down"]:before {
          content: "\f150";
        }
        &[code="toggle-up"]:before,
        &[code="caret-square-o-up"]:before {
          content: "\f151";
        }
        &[code="toggle-right"]:before,
        &[code="caret-square-o-right"]:before {
          content: "\f152";
        }
        &[code="euro"]:before,
        &[code="eur"]:before {
          content: "\f153";
        }
        &[code="gbp"]:before {
          content: "\f154";
        }
        &[code="dollar"]:before,
        &[code="usd"]:before {
          content: "\f155";
        }
        &[code="rupee"]:before,
        &[code="inr"]:before {
          content: "\f156";
        }
        &[code="cny"]:before,
        &[code="rmb"]:before,
        &[code="yen"]:before,
        &[code="jpy"]:before {
          content: "\f157";
        }
        &[code="ruble"]:before,
        &[code="rouble"]:before,
        &[code="rub"]:before {
          content: "\f158";
        }
        &[code="won"]:before,
        &[code="krw"]:before {
          content: "\f159";
        }
        &[code="bitcoin"]:before,
        &[code="btc"]:before {
          content: "\f15a";
        }
        &[code="file"]:before {
          content: "\f15b";
        }
        &[code="file-text"]:before {
          content: "\f15c";
        }
        &[code="sort-alpha-asc"]:before {
          content: "\f15d";
        }
        &[code="sort-alpha-desc"]:before {
          content: "\f15e";
        }
        &[code="sort-amount-asc"]:before {
          content: "\f160";
        }
        &[code="sort-amount-desc"]:before {
          content: "\f161";
        }
        &[code="sort-numeric-asc"]:before {
          content: "\f162";
        }
        &[code="sort-numeric-desc"]:before {
          content: "\f163";
        }
        &[code="thumbs-up"]:before {
          content: "\f164";
        }
        &[code="thumbs-down"]:before {
          content: "\f165";
        }
        &[code="youtube-square"]:before {
          content: "\f166";
        }
        &[code="youtube"]:before {
          content: "\f167";
        }
        &[code="xing"]:before {
          content: "\f168";
        }
        &[code="xing-square"]:before {
          content: "\f169";
        }
        &[code="youtube-play"]:before {
          content: "\f16a";
        }
        &[code="dropbox"]:before {
          content: "\f16b";
        }
        &[code="stack-overflow"]:before {
          content: "\f16c";
        }
        &[code="instagram"]:before {
          content: "\f16d";
        }
        &[code="flickr"]:before {
          content: "\f16e";
        }
        &[code="adn"]:before {
          content: "\f170";
        }
        &[code="bitbucket"]:before {
          content: "\f171";
        }
        &[code="bitbucket-square"]:before {
          content: "\f172";
        }
        &[code="tumblr"]:before {
          content: "\f173";
        }
        &[code="tumblr-square"]:before {
          content: "\f174";
        }
        &[code="long-arrow-down"]:before {
          content: "\f175";
        }
        &[code="long-arrow-up"]:before {
          content: "\f176";
        }
        &[code="long-arrow-left"]:before {
          content: "\f177";
        }
        &[code="long-arrow-right"]:before {
          content: "\f178";
        }
        &[code="apple"]:before {
          content: "\f179";
        }
        &[code="windows"]:before {
          content: "\f17a";
        }
        &[code="android"]:before {
          content: "\f17b";
        }
        &[code="linux"]:before {
          content: "\f17c";
        }
        &[code="dribbble"]:before {
          content: "\f17d";
        }
        &[code="skype"]:before {
          content: "\f17e";
        }
        &[code="foursquare"]:before {
          content: "\f180";
        }
        &[code="trello"]:before {
          content: "\f181";
        }
        &[code="female"]:before {
          content: "\f182";
        }
        &[code="male"]:before {
          content: "\f183";
        }
        &[code="gittip"]:before,
        &[code="gratipay"]:before {
          content: "\f184";
        }
        &[code="sun-o"]:before {
          content: "\f185";
        }
        &[code="moon-o"]:before {
          content: "\f186";
        }
        &[code="archive"]:before {
          content: "\f187";
        }
        &[code="bug"]:before {
          content: "\f188";
        }
        &[code="vk"]:before {
          content: "\f189";
        }
        &[code="weibo"]:before {
          content: "\f18a";
        }
        &[code="renren"]:before {
          content: "\f18b";
        }
        &[code="pagelines"]:before {
          content: "\f18c";
        }
        &[code="stack-exchange"]:before {
          content: "\f18d";
        }
        &[code="arrow-circle-o-right"]:before {
          content: "\f18e";
        }
        &[code="arrow-circle-o-left"]:before {
          content: "\f190";
        }
        &[code="toggle-left"]:before,
        &[code="caret-square-o-left"]:before {
          content: "\f191";
        }
        &[code="dot-circle-o"]:before {
          content: "\f192";
        }
        &[code="wheelchair"]:before {
          content: "\f193";
        }
        &[code="vimeo-square"]:before {
          content: "\f194";
        }
        &[code="turkish-lira"]:before,
        &[code="try"]:before {
          content: "\f195";
        }
        &[code="plus-square-o"]:before {
          content: "\f196";
        }
        &[code="space-shuttle"]:before {
          content: "\f197";
        }
        &[code="slack"]:before {
          content: "\f198";
        }
        &[code="envelope-square"]:before {
          content: "\f199";
        }
        &[code="wordpress"]:before {
          content: "\f19a";
        }
        &[code="openid"]:before {
          content: "\f19b";
        }
        &[code="institution"]:before,
        &[code="bank"]:before,
        &[code="university"]:before {
          content: "\f19c";
        }
        &[code="mortar-board"]:before,
        &[code="graduation-cap"]:before {
          content: "\f19d";
        }
        &[code="yahoo"]:before {
          content: "\f19e";
        }
        &[code="google"]:before {
          content: "\f1a0";
        }
        &[code="reddit"]:before {
          content: "\f1a1";
        }
        &[code="reddit-square"]:before {
          content: "\f1a2";
        }
        &[code="stumbleupon-circle"]:before {
          content: "\f1a3";
        }
        &[code="stumbleupon"]:before {
          content: "\f1a4";
        }
        &[code="delicious"]:before {
          content: "\f1a5";
        }
        &[code="digg"]:before {
          content: "\f1a6";
        }
        &[code="pied-piper"]:before {
          content: "\f1a7";
        }
        &[code="pied-piper-alt"]:before {
          content: "\f1a8";
        }
        &[code="drupal"]:before {
          content: "\f1a9";
        }
        &[code="joomla"]:before {
          content: "\f1aa";
        }
        &[code="language"]:before {
          content: "\f1ab";
        }
        &[code="fax"]:before {
          content: "\f1ac";
        }
        &[code="building"]:before {
          content: "\f1ad";
        }
        &[code="child"]:before {
          content: "\f1ae";
        }
        &[code="paw"]:before {
          content: "\f1b0";
        }
        &[code="spoon"]:before {
          content: "\f1b1";
        }
        &[code="cube"]:before {
          content: "\f1b2";
        }
        &[code="cubes"]:before {
          content: "\f1b3";
        }
        &[code="behance"]:before {
          content: "\f1b4";
        }
        &[code="behance-square"]:before {
          content: "\f1b5";
        }
        &[code="steam"]:before {
          content: "\f1b6";
        }
        &[code="steam-square"]:before {
          content: "\f1b7";
        }
        &[code="recycle"]:before {
          content: "\f1b8";
        }
        &[code="automobile"]:before,
        &[code="car"]:before {
          content: "\f1b9";
        }
        &[code="cab"]:before,
        &[code="taxi"]:before {
          content: "\f1ba";
        }
        &[code="tree"]:before {
          content: "\f1bb";
        }
        &[code="spotify"]:before {
          content: "\f1bc";
        }
        &[code="deviantart"]:before {
          content: "\f1bd";
        }
        &[code="soundcloud"]:before {
          content: "\f1be";
        }
        &[code="database"]:before {
          content: "\f1c0";
        }
        &[code="file-pdf-o"]:before {
          content: "\f1c1";
        }
        &[code="file-word-o"]:before {
          content: "\f1c2";
        }
        &[code="file-excel-o"]:before {
          content: "\f1c3";
        }
        &[code="file-powerpoint-o"]:before {
          content: "\f1c4";
        }
        &[code="file-photo-o"]:before,
        &[code="file-picture-o"]:before,
        &[code="file-image-o"]:before {
          content: "\f1c5";
        }
        &[code="file-zip-o"]:before,
        &[code="file-archive-o"]:before {
          content: "\f1c6";
        }
        &[code="file-sound-o"]:before,
        &[code="file-audio-o"]:before {
          content: "\f1c7";
        }
        &[code="file-movie-o"]:before,
        &[code="file-video-o"]:before {
          content: "\f1c8";
        }
        &[code="file-code-o"]:before {
          content: "\f1c9";
        }
        &[code="vine"]:before {
          content: "\f1ca";
        }
        &[code="codepen"]:before {
          content: "\f1cb";
        }
        &[code="jsfiddle"]:before {
          content: "\f1cc";
        }
        &[code="life-bouy"]:before,
        &[code="life-buoy"]:before,
        &[code="life-saver"]:before,
        &[code="support"]:before,
        &[code="life-ring"]:before {
          content: "\f1cd";
        }
        &[code="circle-o-notch"]:before {
          content: "\f1ce";
        }
        &[code="ra"]:before,
        &[code="rebel"]:before {
          content: "\f1d0";
        }
        &[code="ge"]:before,
        &[code="empire"]:before {
          content: "\f1d1";
        }
        &[code="git-square"]:before {
          content: "\f1d2";
        }
        &[code="git"]:before {
          content: "\f1d3";
        }
        &[code="y-combinator-square"]:before,
        &[code="yc-square"]:before,
        &[code="hacker-news"]:before {
          content: "\f1d4";
        }
        &[code="tencent-weibo"]:before {
          content: "\f1d5";
        }
        &[code="qq"]:before {
          content: "\f1d6";
        }
        &[code="wechat"]:before,
        &[code="weixin"]:before {
          content: "\f1d7";
        }
        &[code="send"]:before,
        &[code="paper-plane"]:before {
          content: "\f1d8";
        }
        &[code="send-o"]:before,
        &[code="paper-plane-o"]:before {
          content: "\f1d9";
        }
        &[code="history"]:before {
          content: "\f1da";
        }
        &[code="circle-thin"]:before {
          content: "\f1db";
        }
        &[code="header"]:before {
          content: "\f1dc";
        }
        &[code="paragraph"]:before {
          content: "\f1dd";
        }
        &[code="sliders"]:before {
          content: "\f1de";
        }
        &[code="share-alt"]:before {
          content: "\f1e0";
        }
        &[code="share-alt-square"]:before {
          content: "\f1e1";
        }
        &[code="bomb"]:before {
          content: "\f1e2";
        }
        &[code="soccer-ball-o"]:before,
        &[code="futbol-o"]:before {
          content: "\f1e3";
        }
        &[code="tty"]:before {
          content: "\f1e4";
        }
        &[code="binoculars"]:before {
          content: "\f1e5";
        }
        &[code="plug"]:before {
          content: "\f1e6";
        }
        &[code="slideshare"]:before {
          content: "\f1e7";
        }
        &[code="twitch"]:before {
          content: "\f1e8";
        }
        &[code="yelp"]:before {
          content: "\f1e9";
        }
        &[code="newspaper-o"]:before {
          content: "\f1ea";
        }
        &[code="wifi"]:before {
          content: "\f1eb";
        }
        &[code="calculator"]:before {
          content: "\f1ec";
        }
        &[code="paypal"]:before {
          content: "\f1ed";
        }
        &[code="google-wallet"]:before {
          content: "\f1ee";
        }
        &[code="cc-visa"]:before {
          content: "\f1f0";
        }
        &[code="cc-mastercard"]:before {
          content: "\f1f1";
        }
        &[code="cc-discover"]:before {
          content: "\f1f2";
        }
        &[code="cc-amex"]:before {
          content: "\f1f3";
        }
        &[code="cc-paypal"]:before {
          content: "\f1f4";
        }
        &[code="cc-stripe"]:before {
          content: "\f1f5";
        }
        &[code="bell-slash"]:before {
          content: "\f1f6";
        }
        &[code="bell-slash-o"]:before {
          content: "\f1f7";
        }
        &[code="trash"]:before {
          content: "\f1f8";
        }
        &[code="copyright"]:before {
          content: "\f1f9";
        }
        &[code="at"]:before {
          content: "\f1fa";
        }
        &[code="eyedropper"]:before {
          content: "\f1fb";
        }
        &[code="paint-brush"]:before {
          content: "\f1fc";
        }
        &[code="birthday-cake"]:before {
          content: "\f1fd";
        }
        &[code="area-chart"]:before {
          content: "\f1fe";
        }
        &[code="pie-chart"]:before {
          content: "\f200";
        }
        &[code="line-chart"]:before {
          content: "\f201";
        }
        &[code="lastfm"]:before {
          content: "\f202";
        }
        &[code="lastfm-square"]:before {
          content: "\f203";
        }
        &[code="toggle-off"]:before {
          content: "\f204";
        }
        &[code="toggle-on"]:before {
          content: "\f205";
        }
        &[code="bicycle"]:before {
          content: "\f206";
        }
        &[code="bus"]:before {
          content: "\f207";
        }
        &[code="ioxhost"]:before {
          content: "\f208";
        }
        &[code="angellist"]:before {
          content: "\f209";
        }
        &[code="cc"]:before {
          content: "\f20a";
        }
        &[code="shekel"]:before,
        &[code="sheqel"]:before,
        &[code="ils"]:before {
          content: "\f20b";
        }
        &[code="meanpath"]:before {
          content: "\f20c";
        }
        &[code="buysellads"]:before {
          content: "\f20d";
        }
        &[code="connectdevelop"]:before {
          content: "\f20e";
        }
        &[code="dashcube"]:before {
          content: "\f210";
        }
        &[code="forumbee"]:before {
          content: "\f211";
        }
        &[code="leanpub"]:before {
          content: "\f212";
        }
        &[code="sellsy"]:before {
          content: "\f213";
        }
        &[code="shirtsinbulk"]:before {
          content: "\f214";
        }
        &[code="simplybuilt"]:before {
          content: "\f215";
        }
        &[code="skyatlas"]:before {
          content: "\f216";
        }
        &[code="cart-plus"]:before {
          content: "\f217";
        }
        &[code="cart-arrow-down"]:before {
          content: "\f218";
        }
        &[code="diamond"]:before {
          content: "\f219";
        }
        &[code="ship"]:before {
          content: "\f21a";
        }
        &[code="user-secret"]:before {
          content: "\f21b";
        }
        &[code="motorcycle"]:before {
          content: "\f21c";
        }
        &[code="street-view"]:before {
          content: "\f21d";
        }
        &[code="heartbeat"]:before {
          content: "\f21e";
        }
        &[code="venus"]:before {
          content: "\f221";
        }
        &[code="mars"]:before {
          content: "\f222";
        }
        &[code="mercury"]:before {
          content: "\f223";
        }
        &[code="intersex"]:before,
        &[code="transgender"]:before {
          content: "\f224";
        }
        &[code="transgender-alt"]:before {
          content: "\f225";
        }
        &[code="venus-double"]:before {
          content: "\f226";
        }
        &[code="mars-double"]:before {
          content: "\f227";
        }
        &[code="venus-mars"]:before {
          content: "\f228";
        }
        &[code="mars-stroke"]:before {
          content: "\f229";
        }
        &[code="mars-stroke-v"]:before {
          content: "\f22a";
        }
        &[code="mars-stroke-h"]:before {
          content: "\f22b";
        }
        &[code="neuter"]:before {
          content: "\f22c";
        }
        &[code="genderless"]:before {
          content: "\f22d";
        }
        &[code="facebook-official"]:before {
          content: "\f230";
        }
        &[code="pinterest-p"]:before {
          content: "\f231";
        }
        &[code="whatsapp"]:before {
          content: "\f232";
        }
        &[code="server"]:before {
          content: "\f233";
        }
        &[code="user-plus"]:before {
          content: "\f234";
        }
        &[code="user-times"]:before {
          content: "\f235";
        }
        &[code="hotel"]:before,
        &[code="bed"]:before {
          content: "\f236";
        }
        &[code="viacoin"]:before {
          content: "\f237";
        }
        &[code="train"]:before {
          content: "\f238";
        }
        &[code="subway"]:before {
          content: "\f239";
        }
        &[code="medium"]:before {
          content: "\f23a";
        }
        &[code="yc"]:before,
        &[code="y-combinator"]:before {
          content: "\f23b";
        }
        &[code="optin-monster"]:before {
          content: "\f23c";
        }
        &[code="opencart"]:before {
          content: "\f23d";
        }
        &[code="expeditedssl"]:before {
          content: "\f23e";
        }
        &[code="battery-4"]:before,
        &[code="battery-full"]:before {
          content: "\f240";
        }
        &[code="battery-3"]:before,
        &[code="battery-three-quarters"]:before {
          content: "\f241";
        }
        &[code="battery-2"]:before,
        &[code="battery-half"]:before {
          content: "\f242";
        }
        &[code="battery-1"]:before,
        &[code="battery-quarter"]:before {
          content: "\f243";
        }
        &[code="battery-0"]:before,
        &[code="battery-empty"]:before {
          content: "\f244";
        }
        &[code="mouse-pointer"]:before {
          content: "\f245";
        }
        &[code="i-cursor"]:before {
          content: "\f246";
        }
        &[code="object-group"]:before {
          content: "\f247";
        }
        &[code="object-ungroup"]:before {
          content: "\f248";
        }
        &[code="sticky-note"]:before {
          content: "\f249";
        }
        &[code="sticky-note-o"]:before {
          content: "\f24a";
        }
        &[code="cc-jcb"]:before {
          content: "\f24b";
        }
        &[code="cc-diners-club"]:before {
          content: "\f24c";
        }
        &[code="clone"]:before {
          content: "\f24d";
        }
        &[code="balance-scale"]:before {
          content: "\f24e";
        }
        &[code="hourglass-o"]:before {
          content: "\f250";
        }
        &[code="hourglass-1"]:before,
        &[code="hourglass-start"]:before {
          content: "\f251";
        }
        &[code="hourglass-2"]:before,
        &[code="hourglass-half"]:before {
          content: "\f252";
        }
        &[code="hourglass-3"]:before,
        &[code="hourglass-end"]:before {
          content: "\f253";
        }
        &[code="hourglass"]:before {
          content: "\f254";
        }
        &[code="hand-grab-o"]:before,
        &[code="hand-rock-o"]:before {
          content: "\f255";
        }
        &[code="hand-stop-o"]:before,
        &[code="hand-paper-o"]:before {
          content: "\f256";
        }
        &[code="hand-scissors-o"]:before {
          content: "\f257";
        }
        &[code="hand-lizard-o"]:before {
          content: "\f258";
        }
        &[code="hand-spock-o"]:before {
          content: "\f259";
        }
        &[code="hand-pointer-o"]:before {
          content: "\f25a";
        }
        &[code="hand-peace-o"]:before {
          content: "\f25b";
        }
        &[code="trademark"]:before {
          content: "\f25c";
        }
        &[code="registered"]:before {
          content: "\f25d";
        }
        &[code="creative-commons"]:before {
          content: "\f25e";
        }
        &[code="gg"]:before {
          content: "\f260";
        }
        &[code="gg-circle"]:before {
          content: "\f261";
        }
        &[code="tripadvisor"]:before {
          content: "\f262";
        }
        &[code="odnoklassniki"]:before {
          content: "\f263";
        }
        &[code="odnoklassniki-square"]:before {
          content: "\f264";
        }
        &[code="get-pocket"]:before {
          content: "\f265";
        }
        &[code="wikipedia-w"]:before {
          content: "\f266";
        }
        &[code="safari"]:before {
          content: "\f267";
        }
        &[code="chrome"]:before {
          content: "\f268";
        }
        &[code="firefox"]:before {
          content: "\f269";
        }
        &[code="opera"]:before {
          content: "\f26a";
        }
        &[code="internet-explorer"]:before {
          content: "\f26b";
        }
        &[code="tv"]:before,
        &[code="television"]:before {
          content: "\f26c";
        }
        &[code="contao"]:before {
          content: "\f26d";
        }
        &[code="500px"]:before {
          content: "\f26e";
        }
        &[code="amazon"]:before {
          content: "\f270";
        }
        &[code="calendar-plus-o"]:before {
          content: "\f271";
        }
        &[code="calendar-minus-o"]:before {
          content: "\f272";
        }
        &[code="calendar-times-o"]:before {
          content: "\f273";
        }
        &[code="calendar-check-o"]:before {
          content: "\f274";
        }
        &[code="industry"]:before {
          content: "\f275";
        }
        &[code="map-pin"]:before {
          content: "\f276";
        }
        &[code="map-signs"]:before {
          content: "\f277";
        }
        &[code="map-o"]:before {
          content: "\f278";
        }
        &[code="map"]:before {
          content: "\f279";
        }
        &[code="commenting"]:before {
          content: "\f27a";
        }
        &[code="commenting-o"]:before {
          content: "\f27b";
        }
        &[code="houzz"]:before {
          content: "\f27c";
        }
        &[code="vimeo"]:before {
          content: "\f27d";
        }
        &[code="black-tie"]:before {
          content: "\f27e";
        }
        &[code="fonticons"]:before {
          content: "\f280";
        }
        &[code="reddit-alien"]:before {
          content: "\f281";
        }
        &[code="edge"]:before {
          content: "\f282";
        }
        &[code="credit-card-alt"]:before {
          content: "\f283";
        }
        &[code="codiepie"]:before {
          content: "\f284";
        }
        &[code="modx"]:before {
          content: "\f285";
        }
        &[code="fort-awesome"]:before {
          content: "\f286";
        }
        &[code="usb"]:before {
          content: "\f287";
        }
        &[code="product-hunt"]:before {
          content: "\f288";
        }
        &[code="mixcloud"]:before {
          content: "\f289";
        }
        &[code="scribd"]:before {
          content: "\f28a";
        }
        &[code="pause-circle"]:before {
          content: "\f28b";
        }
        &[code="pause-circle-o"]:before {
          content: "\f28c";
        }
        &[code="stop-circle"]:before {
          content: "\f28d";
        }
        &[code="stop-circle-o"]:before {
          content: "\f28e";
        }
        &[code="shopping-bag"]:before {
          content: "\f290";
        }
        &[code="shopping-basket"]:before {
          content: "\f291";
        }
        &[code="hashtag"]:before {
          content: "\f292";
        }
        &[code="bluetooth"]:before {
          content: "\f293";
        }
        &[code="bluetooth-b"]:before {
          content: "\f294";
        }
        &[code="percent"]:before {
          content: "\f295";
        }
    }
}
