body[einu-flow] {
    einu-col {
        $columns: 12;

        float: left;
        padding: 15px;

        &[size~="M0"] { display: none; }
        @for $i from 1 through $columns {
            &[size~="M#{$i}"] { display: inline-block; width: calc((100% / #{$columns}) * #{$i}); }
            &[offset~="M#{$i}"] { margin-left: calc((100% / #{$columns}) * #{$i}); }
        }

        @media (min-width: 768px) {
            &[size~="T0"] { display: none; }
            @for $i from 1 through $columns {
                &[size~="T#{$i}"] { display: inline-block; width: calc((100% / #{$columns}) * #{$i}); }
                &[offset~="T#{$i}"] { margin-left: calc((100% / #{$columns}) * #{$i}); }
            }
        }

        @media (min-width: 992px) {
            &[size~="D0"] { display: none; }
            @for $i from 1 through $columns {
                &[size~="D#{$i}"] { display: inline-block; width: calc((100% / #{$columns}) * #{$i}); }
                &[offset~="D#{$i}"] { margin-left: calc((100% / #{$columns}) * #{$i}); }
            }
        }

        @media (min-width: 1200px) {
            &[size~="X0"] { display: none; }
            @for $i from 1 through $columns {
                &[size~="X#{$i}"] { display: inline-block; width: calc((100% / #{$columns}) * #{$i}); }
                &[offset~="X#{$i}"] { margin-left: calc((100% / #{$columns}) * #{$i}); }
            }
        }
    }
}
