$namespace: "battleroyale.co";

$sidebar_width: 260px;
$sidebar_min_width: 50px;
$topbar_height: 50px;

$workspace_container_width: calc(100% - (#{$sidebar_width} + #{$sidebar_min_width}));
$workspace_width: 100%;
$workspace_height: calc(100% - #{$topbar_height});

$darkest: #171D21;
$darker: #1D2429;
$dark: #202D32;

$accent_color: #E69800;
$fore_color: #EFEFEF;
$fore_color_idle: #C6C6C6;
$fore_color_idle_alt: #838383;

$color_red: #C02C44;
$color_green: #15a344;
$color_blue: #4497D8;