@keyframes pulse {
  0% {
    opacity: 0;
    display: block;
    width: calc((100% + 20px) - 2px);
    height: calc((100% + 20px) - 2px);
    margin-left: -10px;
    margin-top: -10px;
  }
  10% {
    opacity: 1;
  }
  50% {
    display: block;
    width: calc((100% + 40px) - 2px);
    height: calc((100% + 40px) - 2px);
    margin-left: -20px;
    margin-top: -20px;
  }
  100% {
    opacity: 0;
    width: calc((100% + 40px) - 2px);
    height: calc((100% + 40px) - 2px);
    margin-left: -20px;
    margin-top: -20px;
  }
}