body[einu-flow="battleroyale.co"] {
  einu-app {
    form.einu-form {
      padding: 30px;
      z-index: 3;
      width: 100%;
      margin: 0 auto;

      einu-footer {
        color: #87909c;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0;
      }

      einu-heading[size="1"] {
        color: #87909c;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 45px;
        margin-bottom: 10px;

        &:first-of-type {
          margin-top: 0;
        }

        a.alternative {
          position: absolute;
          bottom: 15px;

          &.left {
            left: 0;
          }

          &.right {
            right: 0;
          }
        }
      }

      einu-control-group {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        overflow: hidden;

        einu-textblock {
          display: block;

          &.notice {
            font-family: "Roboto";
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            &.right { text-align: right; }
            &.left { text-align: left; }

            &.red { color: $color-red; }
            &.green { color: $color-green; }
            &.blue { color: $color-blue; }
            &.yellow { color: $accent_color; }

            span.red { color: $color-red; }
            span.green { color: $color-green; }
            span.blue { color: $color-blue; }
            span.yellow { color: $accent_color; }
          }
        }

        einu-textblock, einu-list {
          color: #87909c;
          font-size: 14px;
          line-height: 16px;
        }

        einu-col {
          padding: 7.5px;
          padding-top: 0;
          padding-bottom: 0;

          &:first-of-type {
            padding-left: 0;
          }

          &:last-of-type {
            padding-right: 0;
          }
        }

        span.error {
          color: #C02C44;
          float: right;
        }

        &.checkpoint {
          text-align: center;
        }

        & + einu-control-group {
          margin-top: 18px;
        }

        textarea {
          line-height: 34px;
          border: 1px solid #171D21;
          color: #87909c;
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          background-color: #202D32;
          font-family: Roboto;
          border-radius: 3px;
          padding: 0 10px;

          &::-webkit-input-placeholder {
            color: hsla(0, 0%, 100%, .4);
          }

          &:focus {
            border-bottom: 2px solid $accent_color;
            margin-bottom: 0;
          }
        }

        select {
          line-height: 34px;
          height: 36px;
          border: 1px solid #171D21;
          color: #87909c;
          font-size: 12px;
          font-weight: 400;
          outline: none;
          resize: none;
          width: 100%;
          background-color: #202D32;
          font-family: Roboto;
          border-radius: 3px;
          padding: 0 10px 1px;

          &::-webkit-input-placeholder {
            color: hsla(0, 0%, 100%, .4);
          }

          &:focus {
            border-bottom: 2px solid $accent_color;
          }
        }

        input  {
          line-height: 34px;

          &[type=email],
          &[type=number],
          &[type=password],
          &[type=text],
          &[type=date] {
            border: 1px solid #171D21;
            color: #87909c;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 1px;
            outline: none;
            resize: none;
            width: 100%;
            background-color: #202D32;
            font-family: Roboto;
            border-radius: 3px;
            padding: 0 10px;

            &::-webkit-input-placeholder {
              color: hsla(0, 0%, 100%, .4);
            }

            &:focus {
              border-bottom: 2px solid $accent_color;
              margin-bottom: 0;
            }

            &.totp {
              display: inline-block;
              width: calc((100% / 6) - 14px);
              margin-left: 5px;
              margin-right: 5px;
              margin-bottom: 1px;
              text-align: center;
              text-transform: uppercase;

              &:first-of-type {
                margin-left: 0;
              }

              &:last-of-type {
                margin-right: 0;
              }

              &:focus {
                border-bottom: 2px solid #fff;
                margin-bottom: 0;
              }
            }
          }

          &[type=date] {
            line-height: 32px;
            height: 36px;
            margin-bottom: 0;
          }
        }

        a.button,
        button {
          border: 0;
          background-color: $accent_color;
          padding: 6px 10px;
          border-radius: 4px;
          text-transform: uppercase;
          color: $fore_color;
          font-family: "Roboto Condensed";
          display: block;
          text-align: center;
          text-decoration: none;
          position: relative;
          font-size: 14px;
          margin-left: 10px;
          float: right;

          &:before {
            -webkit-transition: all 0.2s ease-in-out;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            content: " ";
            border-radius: 4px;
          }

          &:hover {
            &:before {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }

          &:active {
            &:before {
              background-color: rgba(0, 0, 0, 0.2);
            }
          }
        }

        label {
          color: #87909c;
          display: block;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;

          & + input,
          & + select,
          & + textarea {
            margin-top: 2px;
          }
        }

        input[type="checkbox"] {
          float: left;
        }

        input[type="checkbox"] + label {
          float: left;
          padding: 3px;
          display: inline-block;
          width: auto;
        }
      }
    }
  }
}