.einu-scrollbar-container {
	-ms-touch-action: none;
	overflow: hidden!important
}

.einu-scrollbar-container.einu-active-y>.einu-scrollbar-y-rail {
	display: block
}

.einu-scrollbar-container.einu-in-scrolling {
	pointer-events: none
}

.einu-scrollbar-container.einu-in-scrolling.einu-y>.einu-scrollbar-y-rail {
	background-color: rgba(0, 0, 0, .3);
	opacity: 1
}

.einu-scrollbar-container.einu-in-scrolling.einu-y>.einu-scrollbar-y-rail>.einu-scrollbar-y {
	background-color: $accent_color;
    box-shadow: 0 0 5px $accent_color;
}

.einu-scrollbar-container>.einu-scrollbar-y-rail {
	display: none;
	position: absolute;
	opacity: 0;
	background-color: rgba(0, 0, 0, .1);
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear;
	right: 0;
	width: 6px;
	z-index: 10
}

.einu-scrollbar-container>.einu-scrollbar-y-rail>.einu-scrollbar-y {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
	right: 0;
	width: 6px
}

.einu-scrollbar-container:hover.einu-in-scrolling {
	pointer-events: none
}

.einu-scrollbar-container:hover.einu-in-scrolling.einu-y>.einu-scrollbar-y-rail {
	background-color: rgba(0, 0, 0, .3);
	opacity: 1
}

.einu-scrollbar-container:hover.einu-in-scrolling.einu-y>.einu-scrollbar-y-rail>.einu-scrollbar-y {
	background-color: $accent_color;
    box-shadow: 0 0 5px $accent_color;
}

.einu-scrollbar-container:hover>.einu-scrollbar-y-rail {
	opacity: 1
}

.einu-scrollbar-container:hover>.einu-scrollbar-y-rail:hover {
	background-color: rgba(0, 0, 0, .3);
	opacity: 1
}

.einu-scrollbar-container:hover>.einu-scrollbar-y-rail:hover>.einu-scrollbar-y {
	background-color: $accent_color;
    box-shadow: 0 0 5px $accent_color;
}