﻿body[einu-flow="battleroyale.co"] {
    background-image: url('../img/background-maintenance.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;

    einu-app[maintenance] {
        position: absolute;
        width: 100%;
        height: 100%;

        einu-flex-container {
            einu-block.content {
                align-self: flex-start;
                margin: auto;
                text-align: center;

                img {
                    display: block;
                    margin: 0 auto;
                }

                einu-heading {
                    text-transform: uppercase;
                    font-family: "Roboto Condensed";
                    color: $fore_color;
                    font-weight: 700;
                    margin-top: 70px;
                    display: block;
                }
            }
        }
    }
}
