body[einu-flow="battleroyale.co"] {
  span.role-member {
    a {
      text-decoration: none;
      color: $fore_color;
    }
  }
  span.role-donator {
    a {
      text-decoration: none;
      color: #0584a8;
      text-shadow: 0px 0px 10px #005b75;
    }
  }
  span.role-vip {
    a {
      text-decoration: none;
      color: $accent_color;
      text-shadow: 0px 0px 10px $accent_color;
    }
  }
  span.role-moderator {
    a {
      text-decoration: none;
      color: #2BC05D;
      text-shadow: 0px 0px 10px #2BC05D;
    }
  }
  span.role-administrator {
    a {
      text-decoration: none;
      color: #C02C44;
      text-shadow: 0px 0px 10px #C02C44;
    }
  }
  span.role-owner {
    a {
      text-decoration: none;
      color: $accent_color;
      text-shadow: 0px 0px 10px #C02C44;
      background: -webkit-linear-gradient($accent_color, #C02C44);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0; left: 0; right: 0; bottom: 0;
        background: url('../img/sparkle-gold.gif');
      }
    }
  }

  span.rank-1,
  span.rank-2,
  span.rank-3 {

  }
  span.rank-4,
  span.rank-5,
  span.rank-6 {

  }
  span.rank-7,
  span.rank-8,
  span.rank-9 {

  }
  span.rank-10 {

  }
}