body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.sidebar-min {
      display: none;
    }
  }
  einu-app[sidebar-left="true"] {
    einu-block.sidebar-min {
      background-color: $darkest;
      width: $sidebar_min_width;
      height: calc(100% - #{$topbar_height});
      position: fixed;
      left: 0;
      top: $topbar_height;
      padding: 0;
      display: block;

      einu-block.separator {
        padding: 0;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        width: 32px;
        margin: 5px 10px;
      }
    }
  }
}

@import "button";