body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.sidebar-min {
      a.button {
        width: $sidebar_min_width;
        height: $sidebar_min_width;
        display: block;

        &.icon {
          display: inline-block;
          background: url('../img/sidebar-min-icons-sprite.png') no-repeat;
          overflow: hidden;
          text-indent: -9999px;
          text-align: left;

          &.wallet {
            background-position: -100px -100px; width: 50px; height: 50px;

            &.active,
            &:hover {
              background-position: -0px -150px; width: 50px; height: 50px;
            }
          }

          &.experience {
            background-position: -0px -0px; width: 50px; height: 50px;

            &.active,
            &:hover {
              background-position: -50px -0px; width: 50px; height: 50px;
            }
          }

          &.profile {
            background-position: -50px -50px; width: 50px; height: 50px;

            &.active,
            &:hover {
              background-position: -100px -50px; width: 50px; height: 50px;
            }
          }

          &.settings {
            background-position: -0px -100px; width: 50px; height: 50px;

            &.active,
            &:hover {
              background-position: -50px -100px; width: 50px; height: 50px;
            }
          }

          &.help {
            background-position: -100px -0px; width: 50px; height: 50px;

            &.active,
            &:hover {
              background-position: -0px -50px; width: 50px; height: 50px;
            }
          }
        }
      }
    }
  }
}