body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.experience {
            einu-nav {
              background-color: rgba(0, 0, 0, 0.1);
              padding-left: 15px;
              overflow: hidden;

              a {
                text-transform: uppercase;
                text-decoration: none;
                color: $fore_color_idle;
                font-size: 13px;
                padding: 10px;
                display: inline-block;
                font-family: "Roboto Condensed";
                font-weight: 700;
                float: left;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }

                &.active {
                  color: $accent_color;
                }
              }
            }

            einu-block.section {
              &.badge {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
              einu-block.align-center {
                padding: 0;
                text-align: center;

                img.badge {
                  max-width: 350px;
                  width: 100%;
                }
              }

              einu-block.rank {
                span {
                  font-family: "Roboto Condensed";
                  font-weight: 700;
                  text-transform: uppercase;
                  text-align: center;
                  display: block;
                  color: $fore_color_idle;

                  &.name {
                    font-size: 30px;
                    line-height: 30px;
                  }

                  &.level {
                    font-size: 60px;
                    line-height: 50px;
                  }
                }
              }

              progress {

              }

              einu-table {
                einu-table-row {
                  einu-table-cell {

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}