@import "section";

// Sections
@import "experience/base";
@import "wallet/base";
@import "forum/base";
@import "help/base";
@import "news/base";

body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          padding: 0;

          einu-heading.section-heading {
            width: 100%;
            padding: 0 25px;
            line-height: 35px;
            height: 35px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            font-family: "Roboto Condensed";
            font-weight: 700;
            font-size: 14px;
            color: $fore_color_idle;
            text-transform: uppercase;
            margin-top: 25px;

            &:first-of-type {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}