body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section {
            color: $fore_color_idle;
            font-size: 12px;

            einu-nav {
              background-color: rgba(0, 0, 0, 0.1);
              padding-left: 15px;
              overflow: hidden;

              a {
                text-transform: uppercase;
                text-decoration: none;
                color: $fore_color_idle;
                font-size: 13px;
                padding: 10px;
                display: inline-block;
                font-family: "Roboto Condensed";
                font-weight: 700;
                float: left;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }

                &.active {
                  color: $accent_color;
                }
              }
            }

            a.button,
            button {
              padding: 6px 10px;
              border-radius: 4px;
              text-transform: uppercase;
              color: $fore_color;
              font-family: "Roboto Condensed";
              display: block;
              text-align: center;
              text-decoration: none;
              position: relative;
              font-size: 14px;
              margin-left: 10px;
              height: 30px;
              border: 0;
              cursor: pointer;

              &:before {
                -webkit-transition: all 0.2s ease-in-out;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                content: " ";
                border-radius: 4px;
              }

              &:hover {
                &:before {
                  background-color: rgba(0, 0, 0, 0.1);
                }
              }

              &:active {
                &:before {
                  background-color: rgba(0, 0, 0, 0.2);
                }
              }

              &.squared {
                width: 30px;
                height: 30px;
                border-radius: 0;
              }
            }

            einu-block.pagination {
              background-color: rgba(0, 0, 0, 0.25);
              border-radius: 3px;
              padding: 0;
              display: inline-block;
              width: auto;

              a.button {
                float: left;
                margin: 0;
                display: inline-block;

                &.current {
                  background-color: $accent_color;
                }
              }
            }

            einu-block.section {
              background-color: #1D2429;
              padding: 0;
              border-radius: 4px;
              -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

              einu-heading[size="1"] {
                background-color: $darkest;
                color: #dadada;
                font-size: 14px;
                font-weight: 700;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
                padding: 15px;
              }

              einu-table {
                width: 100%;

                einu-table-header {
                  background-color: $darkest;
                  text-transform: uppercase;
                  font-family: "Roboto Condensed";
                  font-weight: 700;
                  color: $fore_color_idle_alt;

                  einu-table-cell {
                    padding: 10px;
                  }
                }

                einu-table-row {
                  color: #dadada;
                  font-size: 12px;
                  margin: 0;

                  &:nth-child(odd) {
                    background-color: rgba(0, 0, 0, 0.05);
                  }

                  einu-table-cell {
                    padding: 10px;

                    einu-block {
                      padding: 5px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}