body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.sidebar-left {
      display: none;
    }
  }
  einu-app[sidebar-left="true"] {
    einu-block.sidebar-left {
      background-color: $darker;
      width: $sidebar_width;
      height: calc(100% - #{$topbar_height});
      position: fixed;
      left: $sidebar_min_width;
      top: $topbar_height;
      padding: 0;
      overflow: hidden;
      display: block;

      einu-block.user {
        height: 70px;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);

        einu-block.avatar {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin-right: 10px;
          display: inline-block;
          float: left;
        }

        einu-block.info {
          height: 50px;
          width: calc(100% - 60px);
          display: inline-block;
          float: left;
          padding: 0;

          einu-block.line {
            height: 25px;
            width: 100%;
            display: block;
            padding: 0;
            line-height: 25px;

            &.username {
              font-size: 14px;

              a {
                text-decoration: none;
                color: $fore_color_idle;

                &:hover {
                  color: $accent_color;
                }
              }
            }

            &.logout {
              font-size: 11px;

              a {
                text-decoration: none;
                text-transform: uppercase;
                color: $fore_color_idle_alt;
                font-family: "Roboto Condensed";

                &:hover {
                  color: $fore_color_idle;
                }
              }
            }
          }
        }
      }
    }
  }
}