body[einu-flow="battleroyale.co"] {
    einu-app {
        einu-block.workspace-container {
            einu-block.workspace {
                einu-content {
                    einu-section.forum {
                        einu-block.section {
                            span.thread-status-icon {
                                background-color: #C02C44;
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                                line-height: 16px;
                                font-size: 10px;
                                vertical-align: baseline;
                                display: inline-block;
                                text-align: center;
                            }

                            einu-table {
                                einu-table-row {
                                    einu-table-cell {
                                        &.stats_cell {
                                            width: 100px;

                                            einu-block.stats {
                                                float: left;
                                                padding: 0;
                                            }
                                        }

                                        &.index-post-count {
                                            einu-block.count {
                                                padding: 0;
                                                float: left; 
                                                height: 47px;

                                                einu-block {
                                                    padding: 0;
                                                    text-align: right;

                                                    &:first-of-type {
                                                        font-size: 24px;
                                                    }

                                                    &:last-of-type {
                                                        font-size: 10px;
                                                        text-transform: uppercase;
                                                        color: $fore_color_idle_alt;
                                                    }
                                                }
                                            }
                                        }

                                        &.last_reply_cell {
                                            width: 260px;

                                            einu-block.last_reply {
                                                padding: 0;

                                                einu-block.avatar {
                                                    width: 50px;
                                                    height: 50px;
                                                    float: left;
                                                    display: inline-block;
                                                    padding: 5px;

                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        border-radius: 50%;
                                                    }
                                                }

                                                einu-block.user {
                                                    width: 180px;
                                                    height: 50px;
                                                    float: right;
                                                    display: inline-block;
                                                    padding: 0;
                                                    padding-left: 10px;

                                                    einu-block.date {
                                                        font-size: 10px;
                                                        color: $fore_color_idle_alt;
                                                        padding-top: 0;

                                                        a {
                                                            text-decoration: none;
                                                            color: $fore_color_idle_alt;
                                                            padding-bottom: 2px;

                                                            &:hover {
                                                                border-bottom: 0;
                                                                color: $accent_color;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        einu-block {
                                            &.info {
                                                float: left;
                                                padding: 0;

                                                einu-block.title {
                                                    a {
                                                        text-decoration: none;
                                                        color: $fore_color;

                                                        &:hover {
                                                            color: $accent_color;
                                                            border-bottom: 0;
                                                        }
                                                    }
                                                }

                                                einu-block.sub-title {
                                                    font-size: 10px;
                                                    color: $fore_color_idle_alt;

                                                    a {
                                                        text-decoration: none;
                                                        color: $fore_color;
                                                        padding-bottom: 2px;

                                                        &:hover {
                                                            color: $fore_color;
                                                            border-bottom: 2px solid $fore_color;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.thread-reply {
                                einu-block.user-info {
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                    width: 200px;
                                    float: left;
                                    height: 100%;
                                    display: inline-block;

                                    einu-block {
                                        padding: 0;

                                        &.username {
                                            font-size: 14px;
                                            text-align: center;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                        }

                                        &.role {
                                            padding: 0;
                                            font-size: 11px;
                                            text-align: center;
                                            margin-bottom: 15px;
                                            color: $fore_color_idle;
                                        }

                                        &.avatar {
                                            width: 90px;
                                            height: 90px;
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            margin: 0 auto;
                                            border-radius: 50%;
                                        }

                                        &.level {
                                            margin-top: 15px;
                                            padding: 0;
                                            font-size: 11px;
                                            text-align: center;
                                        }
                                    }
                                }

                                einu-block.reply-content {
                                    width: calc(100% - 200px);
                                    float: left;
                                    color: $fore_color;
                                    font-size: 12px;
                                    display: inline-block;
                                    padding: 10px;

                                    einu-block.reply-header {
                                        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                                        padding: 0;
                                        padding-bottom: 10px;
                                        color: $fore_color_idle_alt;

                                        span.date {
                                            float: left;
                                        }

                                        span.options {
                                            float: right;
                                        }
                                    }

                                    einu-block.reply {
                                        padding: 20px 0;
                                    }

                                    einu-block.signature {
                                        border-top: 1px solid rgba(255, 255, 255, 0.05);
                                        padding: 0;
                                        padding-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
