body[einu-flow="battleroyale.co"] {
  einu-app {
    einu-block.workspace-container {
      einu-block.workspace {
        einu-content {
          einu-section.wallet {
            einu-block.section {
              einu-block.address {
                padding: 30px 0;
                text-align: center;

                span.address {
                  padding: 15px 0;
                  display: block;
                  color: $accent_color;
                  font-family: "Source Code Pro";
                  font-size: 16px;
                }
              }

              einu-block.balance {
                padding: 30px 0;
                text-align: center;

                span {
                  display: block;
                  text-transform: uppercase;
                  font-weight: 700;

                  &.value {
                    font-size: 26px;
                    color: $accent_color;
                  }

                  &.currency {
                    font-family: "Roboto Condensed";
                    font-size: 14px;
                    color: $fore_color_idle_alt;
                  }
                }
              }

              einu-table {
                einu-table-row {
                  einu-table-cell {
                    color: $fore-color_idle_alt;

                    &.comment {
                      width: 300px;

                      span.console { font-family: "Source Code Pro"; }
                      span.red { color: $color-red; }
                      span.green { color: $color-green; }
                      span.blue { color: $color-blue; }
                      span.yellow { color: $accent_color; }
                    }

                    &.type {
                      font-family: "Roboto Condensed";
                      color: $fore-color_idle;
                      text-transform: uppercase;

                      einu-icon {
                        color: $accent_color;
                      }
                    }

                    &.balance {
                      color: $fore-color_idle;
                    }

                    &.amount {
                      span {
                        border-radius: 4px;
                        padding: 2px 4px;
                        color: $fore_color;

                        &.negative {
                          background-color: $color-red;
                        }

                        &.positive {
                          background-color: $color-green;
                        }

                        einu-icon {
                          color: $fore-color;
                          font-size: 10px;
                          margin-right: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}